{% if username %}
   <h3>Welcome, {{ username }}!</h3>
   <h4>Your Notifications</h4>
   <ul>
   {% for notification in notifications %}
       <li>{{ notification.type }}</li>
   {% else %}
       <li>No notifications.</li>
   {% endfor %}
   </ul>
   <h4>Your Listings</h4>
   <ul>
   {% for listing in listings %}
       <li>{{ listing.name }} - ${{ "%.2f"|format(listing.price) }}</li>
   {% else %}
       <li>You have no listings yet. Add one now!</li>
   {% endfor %}
   </ul>
   <!-- Logout-formulier -->
   <form method="post" action="{{ url_for('main.logout') }}">
       <button type="submit">Logout</button>
   </form>
{% else %}
   <h1>You are not logged in</h1>
   <a href="{{ url_for('main.login') }}">Login</a>
   <a href="{{ url_for('main.register') }}">Register</a>
{% endif %}
